*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
**/node_modules
.externalNativeBuild
.cxx
local.properties
credentials.json
secrets.json
.env

**/logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

**/dist
**/dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
**/.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?